*{
    background-color: #353131;
    margin: 0px;
}
.nav ul{
    list-style: none;
}
.nav a {
    padding: 50px;
text-decoration: none;
color: antiquewhite;
font-size: x-large;

}
.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
background-color: #343131;
height: 50px;
margin: 2%;
    
        }
        .nav a {
            text-decoration: none;
            padding: 1px;
            color:#000000;
            font-size:medium;
            
            
        }
        p{
            color:#ff0000;
            font-size:medium;
        }
       

       
        .banner{
        width: 700px;
        height: auto;
        }
        .car1{
        width: 400px;
        height: 200px;
        }
        .car2{
            width: 350px;
            height: 200px;
            }
        
        